*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #d4d4d4;
}

.li1{
	margin-left: 0;
}

header{
	background-color: grey;
}

img{
	width: 200px;
	display: inline-block;
}

img.sushi{
	height: 260px;
	width: 600px;
	vertical-align: middle;
}

section{
	text-align: center;
}

.image{
	width: 150px;
	vertical-align: middle;
}

.nav{
	background-color: orange;
	width: 100%;
	height: 50px;
	display: inline-block;
	text-align: center;
}

li{
	list-style-type: none;
	display: inline-block;
	
}

.line{
	border-left: 1px solid;
	border-right: 1px solid;
	padding-right: 10px;
  padding-left: 10px;
	padding-top: 15px;
}

a{
	font-size: 30px;
	text-decoration: none;
}

li:hover{
	background-color: grey;
}

